# Node dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Environment files
.env
**/.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads & DB storage
server/uploads/*
!server/uploads/.gitkeep
server/db.json

# OS files
.DS_Store
Thumbs.db
